.flexVision {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  align-items: flex-end;
  margin-top: 1rem;
    margin-bottom: 1rem;
}

.flexVisionIn {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}
.searchBox {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.table__box {
  width: 100%;
}

.table__box > * {
  width: 100%;
}

@media (max-width: 44rem) {

  .flexVision {
    flex-direction: column;
    width: 100%;
    margin: 1rem;
  }
  .flexVisionIn {
    flex-direction: column;
    margin: 1rem;
  }
}