//gitlab.com/api/v4/packages/npm/:_authToken=glpat-BGG_JX0KQsFPHHfWu4SRO286MQp1OmpmcDl1Cw.01.1204xoy4i
//@igds:registry=https://gitlab.com/api/v4/packages/npm/
legacy-peer-deps=true

registry=https://xtfs.head.ad.mehes.gov.il/DefaultCollection/_packaging/npm_artifact_pkg%40Local/npm/registry/ 
@esbuild:registry=https://xtfs.head.ad.mehes.gov.il/DefaultCollection/_packaging/npm_artifact_pkg%40Local/npm/registry/

; begin auth token
//xtfs.head.ad.mehes.gov.il/DefaultCollection/_packaging/npm_artifact_pkg%40Local/npm/registry/:username=DefaultCollection
//xtfs.head.ad.mehes.gov.il/DefaultCollection/_packaging/npm_artifact_pkg%40Local/npm/registry/:_password="MnBnbm4yeHVhZm1oYm5zYW5pbGhuMml3bWhpZWV2ang3bjJiY3N4NnNoZWtlbWRnMnd0YQ=="
//xtfs.head.ad.mehes.gov.il/DefaultCollection/_packaging/npm_artifact_pkg%40Local/npm/registry/:email=hadas_ha@taxes.gov.il
//xtfs.head.ad.mehes.gov.il/DefaultCollection/_packaging/npm_artifact_pkg%40Local/npm/:username=DefaultCollection
//xtfs.head.ad.mehes.gov.il/DefaultCollection/_packaging/npm_artifact_pkg%40Local/npm/:_password="MnBnbm4yeHVhZm1oYm5zYW5pbGhuMml3bWhpZWV2ang3bjJiY3N4NnNoZWtlbWRnMnd0YQ=="
//xtfs.head.ad.mehes.gov.il/DefaultCollection/_packaging/npm_artifact_pkg%40Local/npm/:email=hadas_ha@taxes.gov.il
; end auth token

always-auth=true
strict-ssl=false
;https-proxy=http://192.168.174.80:8080
;proxy=http://192.168.174.80:8080

