:root {
  --igds-light-ref-device-width-mobile: 360px;
  --igds-light-ref-device-width-tablet: 768px;
  --igds-light-ref-device-width-desktop-s: 1200px;
  --igds-light-ref-device-width-desktop-m: 1440px;
  --igds-light-ref-device-width-desktop-l: 1920px;
}
