/* TODO: Elevation system TBD: complete */

:root {
  --igds-light-ref-zindex-100: 100;
  --igds-light-ref-zindex-200: 200;
  --igds-light-ref-zindex-300: 300;
  --igds-light-ref-zindex-400: 400;
  --igds-light-ref-zindex-500: 500;
  --igds-light-ref-zindex-600: 600;
  --igds-light-ref-zindex-700: 700;
  --igds-light-ref-zindex-800: 800;
}
