/* TODO: Palette TBD: complete */

:root {
  --igds-light-ref-israel-blue-50: #ebf3ff;
  --igds-light-ref-israel-blue-100: #b7d6ff;
  --igds-light-ref-israel-blue-200: #8abbff;
  --igds-light-ref-israel-blue-300: #5ca1ff;
  --igds-light-ref-israel-blue-400: #2e87ff;
  --igds-light-ref-israel-blue-500: #0068f5;
  --igds-light-ref-israel-blue-600: #0057cc;
  --igds-light-ref-israel-blue-700: #0045a3;
  --igds-light-ref-israel-blue-800: #00347b;
  --igds-light-ref-israel-blue-900: #002352;

  --igds-light-ref-white: #ffffff;

  --igds-light-ref-dawn-blue-50: #f4f9ff;
  --igds-light-ref-dawn-blue-100: #dbecff;
  --igds-light-ref-dawn-blue-200: #c2dfff;
  --igds-light-ref-dawn-blue-300: #a9d1ff;
  --igds-light-ref-dawn-blue-400: #90c4ff;
  --igds-light-ref-dawn-blue-500: #6ba3e0;
  --igds-light-ref-dawn-blue-600: #4b81be;
  --igds-light-ref-dawn-blue-700: #30639c;
  --igds-light-ref-dawn-blue-800: #1b487a;
  --igds-light-ref-dawn-blue-900: #0c3058;

  --igds-light-ref-mist-blue-50: #f5f9ff;
  --igds-light-ref-mist-blue-100: #d7e8ff;
  --igds-light-ref-mist-blue-200: #b9d6ff;
  --igds-light-ref-mist-blue-300: #99c2fb;
  --igds-light-ref-mist-blue-400: #82a9de;
  --igds-light-ref-mist-blue-500: #6d90c1;
  --igds-light-ref-mist-blue-600: #5878a4;
  --igds-light-ref-mist-blue-700: #466186;
  --igds-light-ref-mist-blue-800: #344a69;
  --igds-light-ref-mist-blue-900: #24354c;

  --igds-light-ref-dim-grey-50: #f1f5fb;
  --igds-light-ref-dim-grey-100: #e1eaf4;
  --igds-light-ref-dim-grey-200: #d2dbe8;
  --igds-light-ref-dim-grey-300: #bac3d2;
  --igds-light-ref-dim-grey-400: #a2acbb;
  --igds-light-ref-dim-grey-500: #8c96a4;
  --igds-light-ref-dim-grey-600: #767f8e;
  --igds-light-ref-dim-grey-700: #616a77;
  --igds-light-ref-dim-grey-800: #4d5560;
  --igds-light-ref-dim-grey-900: #39404a;

  --igds-light-ref-bright-grey-50: #fafcff;
  --igds-light-ref-bright-grey-100: #e6f0ff;
  --igds-light-ref-bright-grey-200: #cee1fc;
  --igds-light-ref-bright-grey-300: #b5c7e2;
  --igds-light-ref-bright-grey-400: #9caec9;
  --igds-light-ref-bright-grey-500: #8596af;
  --igds-light-ref-bright-grey-600: #6f7e95;
  --igds-light-ref-bright-grey-700: #59677c;
  --igds-light-ref-bright-grey-800: #455163;
  --igds-light-ref-bright-grey-900: #323b49;

  --igds-light-ref-steel-grey-50: #f5f7f9;
  --igds-light-ref-steel-grey-100: #f0f3f6;
  --igds-light-ref-steel-grey-200: #ebeff3;
  --igds-light-ref-steel-grey-300: #e0e8ef;
  --igds-light-ref-steel-grey-400: #ced7e0;
  --igds-light-ref-steel-grey-500: #b6c0cc;
  --igds-light-ref-steel-grey-600: #8596af;
  --igds-light-ref-steel-grey-700: #5d6e87;
  --igds-light-ref-steel-grey-800: #495a73;
  --igds-light-ref-steel-grey-900: #21324b;

  --igds-light-ref-warm-grey-50: #f3f3f3;
  --igds-light-ref-warm-grey-100: #dedede;
  --igds-light-ref-warm-grey-200: #cacaca;
  --igds-light-ref-warm-grey-300: #b6b6b6;
  --igds-light-ref-warm-grey-400: #a1a1a1;
  --igds-light-ref-warm-grey-500: #8d8d8d;
  --igds-light-ref-warm-grey-600: #787878;
  --igds-light-ref-warm-grey-700: #646464;
  --igds-light-ref-warm-grey-800: #504e4e;
  --igds-light-ref-warm-grey-900: #3b3939;

  --igds-light-ref-galil-green-50: #f5ffef;
  --igds-light-ref-galil-green-100: #ddffcd;
  --igds-light-ref-galil-green-200: #c6ffaa;
  --igds-light-ref-galil-green-300: #afff87;
  --igds-light-ref-galil-green-400: #96fb63;
  --igds-light-ref-galil-green-500: #7ad94a;
  --igds-light-ref-galil-green-600: #60b734;
  --igds-light-ref-galil-green-700: #499522;
  --igds-light-ref-galil-green-800: #347314;
  --igds-light-ref-galil-green-900: #22510a;

  --igds-light-ref-negev-yellow-50: #fff9ec;
  --igds-light-ref-negev-yellow-100: #ffecc2;
  --igds-light-ref-negev-yellow-200: #ffdf97;
  --igds-light-ref-negev-yellow-300: #ffd36d;
  --igds-light-ref-negev-yellow-400: #ffc643;
  --igds-light-ref-negev-yellow-500: #dda82f;
  --igds-light-ref-negev-yellow-600: #bb8c1f;
  --igds-light-ref-negev-yellow-700: #997012;
  --igds-light-ref-negev-yellow-800: #775508;
  --igds-light-ref-negev-yellow-900: #553c01;

  --igds-light-ref-coral-red-50: #ffefef;
  --igds-light-ref-coral-red-100: #ffcbcb;
  --igds-light-ref-coral-red-200: #ffa6a7;
  --igds-light-ref-coral-red-300: #ff8283;
  --igds-light-ref-coral-red-400: #ff5e5f;
  --igds-light-ref-coral-red-500: #eb4a4b;
  --igds-light-ref-coral-red-600: #c93435;
  --igds-light-ref-coral-red-700: #a72223;
  --igds-light-ref-coral-red-800: #851414;
  --igds-light-ref-coral-red-900: #63090a;

  --igds-light-ref-opacity-2: 0.2;
  --igds-light-ref-opacity-3: 0.3;
  --igds-light-ref-opacity-4: 0.4;
  --igds-light-ref-opacity-5: 0.5;
  --igds-light-ref-opacity-6: 0.6;
  --igds-light-ref-opacity-7: 0.7;
  --igds-light-ref-opacity-8: 0.8;
}
