/* Spacing system */

:root {
  --igds-light-ref-space-minus300: -8px;
  --igds-light-ref-space-minus200: -4px;
  --igds-light-ref-space-minus100: -2px;
  --igds-light-ref-space-minus50: -1px;
  --igds-light-ref-space-100: 2px;
  --igds-light-ref-space-200: 4px;
  --igds-light-ref-space-300: 8px;
  --igds-light-ref-space-400: 12px;
  --igds-light-ref-space-500: 16px;
  --igds-light-ref-space-550: 20px;
  --igds-light-ref-space-600: 24px;
  --igds-light-ref-space-700: 32px;
  --igds-light-ref-space-800: 40px;
  --igds-light-ref-space-900: 48px;
  --igds-light-ref-space-1000: 64px;
  --igds-light-ref-space-1100: 80px;
  --igds-light-ref-space-1200: 96px;
  --igds-light-ref-space-1300: 120px;
  --igds-light-ref-space-1400: 160px;
}
