.searchContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    border-radius: var(--radius-m, 8px);
    background-color: #fff;// var('igds.light.base.color.background.neutral-default');
    box-shadow: 0 2px 8px 0 rgba(6, 77, 173, 0.10); // Shadow/Level1 
    width: 100%;
    margin: 1rem 0;
    padding: 1.3rem 0;
    min-height: fit-content;

    .searchContent {
        width: 95%;
        padding: 0 1.5rem;
        min-height: fit-content;
    }
}