/* TODO: Border TBD: complete */

:root {
  --igds-light-ref-border-width-s: 1px;
  --igds-light-ref-border-width-m: 2px;
  --igds-light-ref-border-width-l: 4px;
  --igds-light-ref-border-width-xl: 8px;

  --igds-light-ref-border-radius-xs: 2px;
  --igds-light-ref-border-radius-s: 4px;
  --igds-light-ref-border-radius-m: 8px;
  --igds-light-ref-border-radius-l: 16px;
  --igds-light-ref-border-radius-xl: 32px;
  --igds-light-ref-border-radius-2xl: 64px;
  /* postcss-disable-next-line */
  --igds-light-ref-border-radius-full: calc(infinity * 1px);
}
