/* TODO: Font TBD: complete */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --igds-light-ref-font-family: 'Rubik';

  --igds-light-ref-font-size-2xs: 12px;
  --igds-light-ref-font-size-xs: 14px;
  --igds-light-ref-font-size-s: 16px;
  --igds-light-ref-font-size-m: 18px;
  --igds-light-ref-font-size-l: 20px;
  --igds-light-ref-font-size-xl: 24px;
  --igds-light-ref-font-size-2xl: 32px;
  --igds-light-ref-font-size-3xl: 40px;
  --igds-light-ref-font-size-4xl: 48px;
  --igds-light-ref-font-size-5xl: 56px;
  --igds-light-ref-font-size-6xl: 64px;

  --igds-light-ref-line-height-s: 1;
  --igds-light-ref-line-height-m: 1.25;
  --igds-light-ref-line-height-l: 1.5;

  --igds-light-ref-font-weight-thin: 300;
  --igds-light-ref-font-weight-regular: 400;
  --igds-light-ref-font-weight-medium: 500;
  --igds-light-ref-font-weight-semi-bold: 600;
  --igds-light-ref-font-weight-bold: 700;
  --igds-light-ref-font-weight-extra-bold: 800;
  --igds-light-ref-font-weight-black: 900;
}
