
/*@use '../node_modules/normalize.css/normalize.css';
*/
@use 'palette.scss';
@use 'font.scss';
@use 'border.scss';
@use 'space.scss';
@use 'shadow.scss';
@use 'elevation.scss';
@use 'breakpoints.scss';
@use 'scroll.scss';

/*
Based on initial Figma file:
https://www.figma.com/design/ZmtlQhH4lWYeXlmionQKHH/IGDS-Design-System-File-2.0?node-id=21-392&t=XkREH7C6LsoIPrKK-0
*/

/*
and IGDS 2.0 Design Tokens Proposal doc:
https://docs.google.com/document/d/1JICfaBnydGAG72mdYSxYYmYMlEh5R5LEJKj_sDTFU3Q/edit
*/

:root {
  /* background */
  --igds-light-base-color-background-full-screen-default: var(
    --igds-light-ref-israel-blue-50
  );
  --igds-light-base-color-background-neutral-default: var(
    --igds-light-ref-white
  );
  --igds-light-base-color-background-neutral-hover: var(
    --igds-light-ref-dim-grey-50
  );
  --igds-light-base-color-background-neutral-secondlevel: var(
    --igds-light-ref-dim-grey-50
  );
  --igds-light-base-color-background-disabled-with-border: var(
    --igds-light-ref-steel-grey-100
  );
  --igds-light-base-color-background-disabled-without-border: var(
    --igds-light-ref-steel-grey-400
  );
  --igds-light-base-color-background-disabled-without-text: var(
    --igds-light-ref-steel-grey-400
  );
  --igds-light-base-color-background-disabled-without-text-hover: var(
    --igds-light-ref-steel-grey-600
  );
  --igds-light-base-color-background-prefiled-input-field: var(
    --igds-light-ref-israel-blue-50
  );
  --igds-light-base-color-background-secondary-button-pressed: var(
    --igds-light-ref-israel-blue-50
  );
  --igds-light-base-color-background-inverted: var(
    --igds-light-ref-dawn-blue-900
  );
  --igds-light-base-color-background-numeric-badge: var(
    --igds-light-ref-coral-red-600
  );
  --igds-light-base-color-background-scroller: var(
    --igds-light-ref-bright-grey-500
  );
  --igds-light-base-color-background-brand-default: var(
    --igds-light-ref-israel-blue-500
  );
  --igds-light-base-color-background-brand-hover: var(
    --igds-light-ref-israel-blue-600
  );
  --igds-light-base-color-background-brand-pressed: var(
    --igds-light-ref-israel-blue-700
  );
  --igds-light-base-color-background-success-with-border: var(
    --igds-light-ref-galil-green-50
  );
  --igds-light-base-color-background-success-without-border: var(
    --igds-light-ref-galil-green-100
  );
  --igds-light-base-color-background-success-without-text: var(
    --igds-light-ref-galil-green-500
  );
  --igds-light-base-color-background-warning-with-border: var(
    --igds-light-ref-negev-yellow-50
  );
  --igds-light-base-color-background-warning-without-border: var(
    --igds-light-ref-negev-yellow-100
  );
  --igds-light-base-color-background-warning-without-text: var(
    --igds-light-ref-negev-yellow-500
  );
  --igds-light-base-color-background-faliure-with-border: var(
    --igds-light-ref-coral-red-50
  );
  --igds-light-base-color-background-faliure-without-border: var(
    --igds-light-ref-coral-red-100
  );
  --igds-light-base-color-background-faliure-without-text: var(
    --igds-light-ref-coral-red-500
  );

  /*text&icon*/
  --igds-light-base-color-text-subtle-primary: var(
    --igds-light-ref-dawn-blue-900
  );
  --igds-light-base-color-text-subtle-secondary: var(
    --igds-light-ref-mist-blue-600
  );
  --igds-light-base-color-text-subtle-inverted: var(--igds-light-ref-white);
  --igds-light-base-color-text-link-primary-default: var(
    --igds-light-ref-israel-blue-500
  );
  --igds-light-base-color-text-link-primary-hover: var(
    --igds-light-ref-israel-blue-600
  );
  --igds-light-base-color-text-link-secondary-default: var(
    --igds-light-ref-dawn-blue-900
  );
  --igds-light-base-color-text-link-secondary-hover: var(
    --igds-light-ref-israel-blue-500
  );
  --igds-light-base-color-text-disabled: var(--igds-light-ref-steel-grey-600);
  --igds-light-base-color-text-success: var(--igds-light-ref-galil-green-700);
  --igds-light-base-color-text-warning: var(--igds-light-ref-negev-yellow-700);
  --igds-light-base-color-text-failure: var(--igds-light-ref-coral-red-700);

  /*border*/
  --igds-light-base-color-border-subtle-default: var(
    --igds-light-ref-bright-grey-500
  );
  --igds-light-base-color-border-subtle-hover: var(
    --igds-light-ref-bright-grey-800
  );
  --igds-light-base-color-border-brand-default: var(
    --igds-light-ref-israel-blue-500
  );
  --igds-light-base-color-border-brand-hover: var(
    --igds-light-ref-israel-blue-700
  );
  --igds-light-base-color-border-disabled: var(--igds-light-ref-steel-grey-600);
  --igds-light-base-color-border-success: var(--igds-light-ref-galil-green-700);
  --igds-light-base-color-border-warning: var(
    --igds-light-ref-negev-yellow-700
  );
  --igds-light-base-color-border-failure: var(--igds-light-ref-coral-red-700);
  --igds-light-base-color-border-active: var(--igds-light-ref-israel-blue-500);
  --igds-light-base-color-border-focused: var(--igds-light-ref-israel-blue-500);
  --igds-light-base-color-border-divider-default: var(
    --igds-light-ref-bright-grey-300
  );
  --igds-light-base-color-border-divider-inverted: var(--igds-light-ref-white);

  /*display*/
  --igds-light-base-type-display-hero: var(
      --igds-light-ref-font-weight-extra-bold
    )
    var(--igds-light-ref-font-size-6xl) var(--igds-light-ref-font-family);
  --igds-light-base-type-display-page: var(--igds-light-ref-font-weight-bold)
    var(--igds-light-ref-font-size-4xl) var(--igds-light-ref-font-family);

  /*title*/
  --igds-light-base-type-title-large: var(--igds-light-ref-font-weight-bold)
    var(--igds-light-ref-font-size-2xl) var(--igds-light-ref-font-family);
  --igds-light-base-type-title-small-bold: var(
      --igds-light-ref-font-weight-bold
    )
    var(--igds-light-ref-font-size-xl) var(--igds-light-ref-font-family);
  --igds-light-base-type-title-small-medium: var(
      --igds-light-ref-font-weight-medium
    )
    var(--igds-light-ref-font-size-xl) var(--igds-light-ref-font-family);

  /*subtitle*/
  --igds-light-base-type-subtitle-large: var(
      --igds-light-ref-font-weight-medium
    )
    var(--igds-light-ref-font-size-l) var(--igds-light-ref-font-family);
  --igds-light-base-type-subtitle-small: var(
      --igds-light-ref-font-weight-medium
    )
    var(--igds-light-ref-font-size-m) var(--igds-light-ref-font-family);

  /*body*/
  --igds-light-base-type-body-medium: var(--igds-light-ref-font-weight-medium)
    var(--igds-light-ref-font-size-s) var(--igds-light-ref-font-family);
  --igds-light-base-type-body-regular: var(--igds-light-ref-font-weight-regular)
    var(--igds-light-ref-font-size-s) var(--igds-light-ref-font-family);

  /*label*/
  --igds-light-base-type-label: var(--igds-light-ref-font-weight-regular)
    var(--igds-light-ref-font-size-xs) var(--igds-light-ref-font-family);

  /*badge*/
  --igds-light-base-type-badge: var(--igds-light-ref-font-weight-regular)
    var(--igds-light-ref-font-size-2xs) var(--igds-light-ref-font-family);

  /*border*/
  --igds-light-base-border-width-default: var(--igds-light-ref-border-width-s);
  --igds-light-base-border-width-focused: var(--igds-light-ref-border-width-m);
}

body {
  font-family: Rubik, sans-serif;
  text-align: right;
  direction: rtl;
}

*[dir='ltr'] {
  text-align: left;
}
