:root {
  --igds-light-scrollbar-width: var(--igds-light-ref-space-300);
  --igds-light-scrollbar-background: var(--igds-light-ref-white);
  --igds-light-scrollbar-thumb-color: var(--igds-light-ref-bright-grey-500);
  --igds-light-scrollbar-thumb-hover-color: var(--igds-light-ref-bright-grey-600);
  --igds-light-scrollbar-track-border-radius: var(--igds-light-ref-border-radius-m);
  --igds-light-scrollbar-thumb-border: var(--igds-light-ref-border-radius-s);
}

@supports not selector(::-webkit-scrollbar) {
  html {
    scrollbar-width: auto;
    scrollbar-color: var(--igds-light-scrollbar-thumb-color) var(--igds-light-scrollbar-background);
  }
}
::-webkit-scrollbar {
  width: var(--igds-light-scrollbar-width);
}

::-webkit-scrollbar-track {
  border-radius: var(--igds-light-scrollbar-track-border-radius);
  background-color: var(#f1f7ff);
}

::-webkit-scrollbar-thumb {
  background: #5878A4;
  border-radius: 10px;
}
