@use '../../assets/styles.module.scss';


.mainSearchContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .mainSearchToast {
        width: 100%;
        margin-top: 50px;
    }

    .resultsContainer {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;

        @media (max-width: 600px) {
            flex-direction: column;
        }
    }

    .additionalStyle {
        left: 10%;
        position: absolute;

        @media (min-width: 600px) {
            top: 80%;
        }
    }

    .linkStyle {
        color: var(--Primary-pri_blue-60, #0056D7);
        text-align: right;
        font-family: Rubik;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        text-decoration: none;
        justify-content: center;
        display: flex;
        flex-direction: row;
    }

    .resultsStyle {
        left: 5%;
        position: absolute;
    }
}