@use '../../assets/styles.module.scss';


body {
    background-image: url('../../images/BG.png');
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    background-color: #f1f7ff;
}


#root {
    height: 100%;
}

.App {
    text-align: center;
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.mainSearchContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 7px;
    width: 60%;
    height: 80%;

    .mainSearchToast {
        width: 100%;
    }

    .resultsContainer {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;

        @media (max-width: 600px) {
            flex-direction: column;
        }
    }

    .additionalStyle {
        left: 10%;
        position: absolute;

        @media (min-width: 600px) {
            top: 80%;
        }
    }

    .linkStyle {
        color: var(--Primary-pri_blue-60, #0056D7);
        text-align: right;
        font-family: Rubik;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        text-decoration: none;
        justify-content: center;
        display: flex;
        flex-direction: row;
    }

    .resultsStyle {
        left: 5%;
        position: absolute;
    }
}