.fields-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 16px;
  background: #f8f9fa;
  padding: 20px;
  direction: rtl;

  .field-item {
    // background: #fff;
    padding: 5px;
    text-align: right;
    // box-shadow: 0 1px 3px rgba(0, 0, 0, 0.04);
    // transition: 0.2s ease;

    // &:hover {
    //   transform: translateY(-2px);
    //   box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    // }


    .field-label {
      color: #666;
      font-size: 14px;
      margin-bottom: 4px;
      // color: #333;
      font-weight: 500;
    }

    .field-value {
      font-size: 15px;
      color: #111;

      &.strong {
        font-weight: 800;
      }

      &.success {
        color: #499522 !important;
      }

      &.warning {
        color: #f0ad4e;
      }

      &.error {
        color: #dc3545;
      }
    }

  }

}