@use '../../assets/styles.module.scss';


html {
    background-color: #f1f7ff;
}

html, body, #root {
    height: 100%;
    font-family: Rubik, sans-serif;
}

body {
    background-image: url('../../images/BG.png');
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left top;
}


#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 16rem;
    text-align: center;
}


.App {
  text-align: center;
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.root-layout {
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}