.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .title {
    color: var(--text-icon-subtle-primary, #0C3058);
    text-align: center;
    font-family: Rubik;
    font-size: var(--font-size-2xl, 32px);
    font-style: normal;
    font-weight: var(--font-weight-bold, 700);
    // line-height: 125%; /* 40px */
    line-height: normal;
  }

  .subTitle {
    color: var(--igds-light-ref-dawn-blue-900);
    text-align: center;
    font-family: Rubik;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    max-width: 500px;
  }
}