@use '../../../assets/styles.module.scss';

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .title {
    color: var(--igds-light-ref-dawn-blue-900);
    text-align: center;
    font-family: Rubik;
    font-size: var(--title-size, 32px);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: var(--title-margin, 50px) 0 0 0 !important;

    @media (max-width: 600px) {
      font-size: var(--igds-light-ref-font-size-xl);
    }
  }

  .subTitle {
    color: var(--igds-light-ref-dawn-blue-900);
    text-align: center;
    font-family: Rubik;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    max-width: 500px;
  }
}
@media only screen and (max-width: 600px) {
  .titleContainer {
    padding: 20px;
  }
}