@use url('assets/styles.module.scss');

.MuiAutocomplete-endAdornment {
  left: 0px !important;
  right: auto !important;
  padding: 10px;
  color: var(--igds-light-ref-dawn-blue-900) !important;
}

.css-6h9cc6-MuiInputBase-root-MuiInput-root:hover:not(.Mui-disabled, .Mui-error):before {
  border-bottom: none !important;
}

.MuiInputBase-input.MuiAutocomplete-input {
  height: 48px !important;
  font-family: rubik;
}

.css-2u11ia-MuiInputBase-input-MuiOutlinedInput-input,
.css-kcef4i-MuiInputBase-root-MuiOutlinedInput-root {
  font-family: var(--igds-light-ref-font-family) !important;
}

.MuiAutocomplete-hasClearIcon .MuiAutocomplete-inputRoot {
  padding-right: 0px !important;
  color: var(--igds-light-ref-dawn-blue-900) !important;
}

.MupPopprt-root.MuiAutocomplete-popper {
  min-width: 100% !important;
}