@use '../../../assets/styles.module.scss';


.searchContainer {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    width: 100%;
    margin: 1rem 0;
    padding: 2rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
    border-radius: 8px;

    .searchContent {
        padding: 2rem;
    }
}