@use '../../../assets/styles.module.scss';


.searchContainer {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 40px 0px;
    width: 100%;
    margin-top: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
    border-radius: 8px;

    .searchContent {
        width: 90%;
    }
}