.searchContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    width: 100%;
    margin: 1rem 0;
    padding: 1.3rem 0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    min-height: fit-content;

    .searchContent {
        width: 95%;
        padding: 0 1.5rem;
        min-height: fit-content;
    }
}