.mainSearchContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .mainSearchInfoLink {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;

        .mainSearchToast {
            width: 100%;
        }
    }
}